
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400;600&family=Poppins:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Martel Sans', sans-serif;
}
body{
    background-color: black;
}


 .main{
    background-image: url("assets/images/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1000px,100vw);
    height: 100vh;
    position: relative;
    opacity: 0.44;

}
 main .box{
    height: 80vh;
    width: 100%;
    opacity: 0.44;
    position: absolute;
    top: 0;
    background-color: black;
    

}
nav{
    max-width: 60vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;

}
nav img{
    color: red;
    width: 130px;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;

}
.hero{
    font-family: 'poppins', sans-serif;
    height: calc(100px-62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 5px;
    padding: 0 30px;
    text-align: center;
}
.hero> :first-child{
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
    margin-top: 160px;
}
.hero> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}



.hero> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
.separation{
    height: 7px;
    background-color: rgb(72, 69, 69);

}
.btn{
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    border-radius: 4px;
    background-color: rgba(65, 63, 63, 0.943);
    border: 1px solid rgba(255, 255, 255, 0.557);

}
.btn-red{
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 900;


}
.btn-red-sm{
    background-color: red;
    color: white;
    border-radius: 6px;


}

.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

}
.main input{
    padding: 5px 90px 8px 14px;
    font-weight: 900;
    font-size: 20px;
    color: white;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(232, 213, 213, 0.5);


}
.first{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    color: white;
}
.secImg{
    position: relative;

}

.secImg img{

    width: 28vw;
    position: relative;
    z-index: 10;
}
.secImg video{
    position: absolute;
    top: 40px;
    right: 0;
    width: 27vw;
}
section.first > div{
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}


.first > div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
}

.first > div :nth-child(2){
font-size: 24px;
} 

.faq h2{
    text-align: center;
    font-size: 32px;
}
.faq{
    background: black;
    color: white;
    padding: 34px;
} 
.faqbox:hover{
    background-color: #414141;
    color: white;
}
    
.faqbox svg {
    filter: invert(1);

}  


.faqbox{
    transition: all 1s ease-out;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
}  

footer{
    color: white;
    max-width: 60vw;
    margin: auto; 
    padding: 14px;
}
footer span{
    padding: 34px 0px;

}


 .footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
     max-width: 60vw;
    margin: auto; 
 }
 .footer a{
    font-size: 13px;
    color: white;
 }

.footer-item{
    display: flex;
    flex-direction:column;
    gap: 23px;
}






            
    


